@import "tailwindcss";


header.header {
  @apply py-3 backdrop-blur-none bg-none border-none;
 
}

.custom-a a span{
  @apply text-[#6f3232] font-bold ;
}
.custom-a summary span{
  @apply text-[#6f3232] font-semibold;
}

.text-custom-color h2{
  @apply text-amber-50;
}

.text-custom-color a{
  
  @apply text-amber-50 border border-amber-50 py-1.5;
}

header a {
  font-family: 'YourCustomFont', sans-serif;
  letter-spacing: 0.5px;
}

.btn-about a{
@apply !bg-[#6E7264] px-1 py-2;
}

.remove-gradient .ctm-grd-rm {
  background: none !important;
}
