@import "tailwindcss";


header.header {
  @apply py-3 backdrop-blur-none bg-none border-none;
 
}

.custom-a a span{
  @apply text-[#6f3232] font-bold ;
}
.custom-a summary span{
  @apply text-[#6f3232] font-semibold;
}

.text-custom-color h2{
  @apply text-amber-50;
}

.text-custom-color a{
  
  @apply text-amber-50 border border-amber-50 py-1.5;
}

header a {
  font-family: 'YourCustomFont', sans-serif;
  letter-spacing: 0.5px;
}

.btn-about a{
@apply !bg-[#6E7264] px-1 py-2;
}

@layer components {
  .gradient-overlay {
    @apply block absolute inset-0 w-full h-full z-10;
    background: linear-gradient(180deg, rgba(247,247,242,0) 0%, rgba(247,247,242,0.67) 35%, rgba(247,247,242,0.8) 55%, #F7F7F2 100%);
    z-index: 10;
  }
}
