{% if template == 'index' %}
  <header class="absolute top-25 left-0 w-full z-50 bg-transparent py-4 px-6">
    <div class="max-w-screen-2xl mx-auto flex items-center justify-between gap-8">
      <!-- Logo -->
      <div class="shrink-0">
        <a href="{{ routes.root_url }}">
          {% if section.settings.logo %}
            <img
              height=""
              width=""
              src="{{ section.settings.logo | img_url: 'master' }}"
              alt="Logo"
              class="h-22">
          {% else %}
            <span class="text-white font-bold text-xl">Logo</span>
          {% endif %}
        </a>
      </div>


      <nav class="hidden md:!flex flex-col items-start gap-4 md:flex-row md:items-center md:space-x-8">
        {% for block in section.blocks %}
          <a href="{{ block.settings.link }}" class="text-white hover:text-gray-300 transition duration-300 text-base md:text-lg">
            {{ block.settings.text }}
          </a>
        {% endfor %}
      </nav>


      <div>
        <button class="text-white hover:text-gray-300">
          <svg
            class="h-8 w-8"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round">
            <circle
              cx="11"
              cy="11"
              r="8" />
            <line
              x1="21"
              y1="21"
              x2="16.65"
              y2="16.65" />
          </svg>
        </button>
      </div>
    </div>
  </header>
{% endif %}

{% schema %}
  {
    "name": "Custom Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Menu Link",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Link Text"
          }, {
            "type": "url",
            "id": "link",
            "label": "Link URL"
          }
        ]
      }
    ],
    "max_blocks": 5,
    "presets": [
      {
        "name": "Header with Logo & Navigation"
      }
    ]
  }
{% endschema %}